.row.content-block
  .col-sm-12
    %h2.text-center Преимущества и особенности, которые я предлагаю:
    .row
      .col-sm-6
        .card
          .card-content
            .card-title Низкая цена
            %p относительно уровня рынка: никакого подвоха, так я показываю миру себя и знакомлюсь с вами
          .card-action Learn more
        .card
          .card-content
            .card-title Стерильность
            %p рук, инструментов, гарантия использования одноразовых щёточек для ресниц и тд. Я сама параноик в отношении чистоты инструментов, поэтому мне сложно выбирать мастеров. Поэтому я сразу говорю о том, что все, что касается вашего лица, в том числе и руки, обрабатывается с особой тщательностью дезинфицирующими средствами самой разрой жесткости: от щадящего детского мыла до 95%-го этилового спирта
          .card-action Learn more
        .card
          .card-content
            .card-title Дружелюбная, комфортная обстановка
            %p чай, кофе и общение прилагаются
          .card-action Learn more
        .card
          .card-content
            .card-title Практические советы по самостоятельному использованию косметики
            %p я за информационный обмен: активно делюсь с людьми всем, что знаю сама, если они меня об этом спрашивают, конечно
          .card-action Learn more
      .col-sm-6
        .card
          .card-content
            .card-title Большой опыт в создании макияжа
            %p 8 лет наращивания мастерства, набивания руки на себе, родных и близких, а теперь и других людях
          .card-action Learn more
        .card
          .card-content
            .card-title Индивидуальный подход к пожеланиям
            %p не будет такого, что я вопреки желанию человека нарисую ему огромные толстые брови, если ему нравятся свои тонкие. Меня волнует мода, но все же я считаю, что штамповать лица по каким-то единым текущим стандартам красоты неправильно и некрасиво
          .card-action Learn more
        .card
          .card-content
            .card-title Профессиональная помощь в подборе образа
            %p а не просто копирование того, что показал клиент из интернета: это другая сторона медали. Иногда я убеждаю клиентов в том, что другой цвет будет смотреться просто более гармонично
          .card-action Learn more
        .card
          .card-content
            .card-title Реализация самых безумных идей!
            %p Мои навыки не ограничены стандартным набором "дневной-вечерний" макияж.  Я за идеи и фантазию, я за то, чтобы люди перестали относиться к макияжу как к чему-то чересчур серьёзному
          .card-action Learn more
