.container
  = render partial: 'about'
  = render partial: 'photos'
  = render partial: 'advantages'
  .row.mb-3.content-block
    .col-sm-12
      %h2.text-center Остались вопросы? Напишите мне!
      %h5.mb-3.text-center Укажите свой номер телефона или электронную почту, и я отвечу вам в ближайшее время
      = form