/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a, nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.fa.fa-vk {
  padding: 6px 6px 6px 4px;
  font-size: 22px;
  width: 35px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background-color: #507299;
  color: white;
}

.fa.fa-instagram {
  padding: 6px 5px 6px 6px;
  width: 35px;
  font-size: 22px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background-color: #125688;
  color: white;
}

.parallax-container {
  background-color: rgba(0, 0, 0, 0.2);
}

.toast-message {
  font-size: 0.8rem;
}

#toast-container {
  top: 12px !important;
  right: 12px !important;
  max-width: 100% !important;
}