.logo {
  letter-spacing: 0.7rem;
  font-size: 2.5rem;
  font-weight: 100;
}
@media (min-width: 576px) {
  .logo {
    letter-spacing: 1rem;
    font-size: 3.5rem;
  }
}
@media (min-width: 768px) {
  .logo {
    letter-spacing: 1rem;
    font-size: 4.5rem;
  }
}

html, body {
 font-family: "Roboto", sans-serif;
}

body {
  background: url(/assets/background.jpg) fixed;
  background-size: cover;
}

.fa.fa-vk {
  padding: 6px 6px 6px 4px;
  font-size: 22px;
  width: 35px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background-color: #507299;
  color: white;
}

.fa.fa-instagram {
  padding: 6px 5px 6px 6px;
  width: 35px;
  font-size: 22px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background-color: #125688;
  color: white;
}

#lightgallery {
  margin: 50px 15px;
}

.card {
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  margin: .5rem 0 1rem 0;
  border-radius: 2px;

  .card-content {
    padding: 24px;
    border-radius: 0 0 2px 2px;

    .card-title {
      display: block;
      line-height: 32px;
      margin-bottom: 8px;
      font-size: 24px;
      font-weight: 300;
    }

    p {
      margin: 0;
      padding: 0;
      -webkit-font-smoothing: antialiased;
    }
  }

  .card-action {
    border-top: 1px solid rgba(160,160,160,0.2);
    padding: 16px 24px;
  }
}

.content-block {
  padding: 2.5rem;
  margin-top: 3rem;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}